{% extends 'base.html' %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Old Underwear Playlist Maker</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Like new underwear, new music can be restrictive before it becomes a part of you.  This isn't about exploration, this is about familiar comfort.  This tool will pick your favorite songs from the last few months and make them into a playlist for you.</h2>
          <p>It's not ready yet, but will hopefully be here soon.</p>
          <a class="btn btn-danger js-scroll-trigger" href="/crossfade/authorize">&nbsp;&nbsp;&nbsp;Authorize the App&nbsp;&nbsp;&nbsp;</a><br /><br />
          <a class="btn btn-primary js-scroll-trigger mb-2" href="/freqhits/playlistmaker">Make Playlist</a>
          <a class="btn btn-primary js-scroll-trigger" href="/">Home</a>          
      </div>
  </div>
</header>
{% endblock content %}

