{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Flask WebApp Index</h1>    
    <p>Nothing really to do here yet.</p>    
    <table class="table">
      <thead>
        <tr>
          <th>Nav Options</th>          
        </tr>
      </thead>
      <tbody>        
        <tr>          
          <td><a class="btn btn-info btn-lg" href="/crud/" role="button">Go To CRUD Home</a></td>
          <td><a class="btn btn-info btn-lg" href="/crossfade" role="button">Go To Crossfade Home</a></td>
        </tr>        
      </tbody>
    </table>
  </div>
  {% endblock content %}