{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Crossfit Crossfader Spotify Tools</h1>    
    <p>Pick from your tools below.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Nav Options</th>          
        </tr>
      </thead>
      <tbody>        
        <tr>          
          <td><a class="btn btn-info btn-lg" href="/crossfade" role="button">Spotify Crossfader</a></td>
          <td><a class="btn btn-info btn-lg" href="/freqhits" role="button">Old Underwear Playlist Maker</a></td>
        </tr>        
      </tbody>
    </table>
  </div>
  {% endblock content %}